<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>SpriteHelper</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>c0.png</key>
		<dict>
			<key>frame</key>
			<string>{{99, 134}, {85, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 128}}</string>
			<key>sourceSize</key>
			<string>{85, 128}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>c1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 934}, {85, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 128}}</string>
			<key>sourceSize</key>
			<string>{85, 128}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>c10.png</key>
		<dict>
			<key>frame</key>
			<string>{{91, 794}, {85, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 128}}</string>
			<key>sourceSize</key>
			<string>{85, 128}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>c11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 538}, {85, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 128}}</string>
			<key>sourceSize</key>
			<string>{85, 128}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>c12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 142}, {85, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 128}}</string>
			<key>sourceSize</key>
			<string>{85, 128}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>c13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 406}, {85, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 128}}</string>
			<key>sourceSize</key>
			<string>{85, 128}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>c14.png</key>
		<dict>
			<key>frame</key>
			<string>{{91, 266}, {85, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 128}}</string>
			<key>sourceSize</key>
			<string>{85, 128}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>c2.png</key>
		<dict>
			<key>frame</key>
			<string>{{91, 398}, {85, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 128}}</string>
			<key>sourceSize</key>
			<string>{85, 128}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>c3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 802}, {85, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 128}}</string>
			<key>sourceSize</key>
			<string>{85, 128}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>c4.png</key>
		<dict>
			<key>frame</key>
			<string>{{91, 662}, {85, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 128}}</string>
			<key>sourceSize</key>
			<string>{85, 128}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>c5.png</key>
		<dict>
			<key>frame</key>
			<string>{{99, 2}, {85, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 128}}</string>
			<key>sourceSize</key>
			<string>{85, 128}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>c6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 670}, {85, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 128}}</string>
			<key>sourceSize</key>
			<string>{85, 128}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>c7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 274}, {85, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 128}}</string>
			<key>sourceSize</key>
			<string>{85, 128}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>c8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 1066}, {85, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 128}}</string>
			<key>sourceSize</key>
			<string>{85, 128}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>c9.png</key>
		<dict>
			<key>frame</key>
			<string>{{91, 926}, {85, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 128}}</string>
			<key>sourceSize</key>
			<string>{85, 128}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>cartaAtras.png</key>
		<dict>
			<key>frame</key>
			<string>{{91, 530}, {85, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 128}}</string>
			<key>sourceSize</key>
			<string>{85, 128}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>cartasTaco.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 2}, {93, 136}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {93, 136}}</string>
			<key>sourceSize</key>
			<string>{93, 136}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>dificilBtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{91, 1190}, {117, 43}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {117, 43}}</string>
			<key>sourceSize</key>
			<string>{117, 43}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>facilBtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 1283}, {117, 43}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {117, 43}}</string>
			<key>sourceSize</key>
			<string>{117, 43}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>instruccionesBtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 1237}, {209, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {209, 42}}</string>
			<key>sourceSize</key>
			<string>{209, 42}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>jugarBtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{123, 1283}, {117, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {117, 42}}</string>
			<key>sourceSize</key>
			<string>{117, 42}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>mundo.png</key>
		<dict>
			<key>frame</key>
			<string>{{91, 1058}, {85, 128}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 128}}</string>
			<key>sourceSize</key>
			<string>{85, 128}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>volverInstrucciones.png</key>
		<dict>
			<key>frame</key>
			<string>{{123, 1329}, {116, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {116, 42}}</string>
			<key>sourceSize</key>
			<string>{116, 42}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{242, 1373}</string>
		<key>textureFileName</key>
		<string>Memorion_Cartas_Ingles.png</string>
	</dict>
</dict>
</plist>
